body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.navbar {
    background-color: blue;
    color:black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    margin-left: 10px;
}

.menu-btn {
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    border: 1px solid black;
    margin: 4px 0;
}


.dropdown-content a:hover {
    background-color: red;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black
}


@media only screen and (max-width: 768px) {
    .navbar-brand {
        display: none;
    }

    .menu-btn {
        display: block;
        float: right;
    }

    .dropdown-content {
        position: absolute;
    }
}

section {
    width: 80.33%;
    height:100%; 
    background-color: orange;
    margin: 0 auto; 
    padding: 20px;
    float: center;
    box-sizing: border-box;
    
  }

